/*
 * ---------------------------------------------------------------
 * Reset
 * ---------------------------------------------------------------
 */

body, blockquote, dl, dd, figure, fieldset,
h1, h2, h3, h4, h5, h6, hr, ol, p, pre,
textarea, ul {
	margin: 0;
}
button, fieldset, input, legend, option,
select, td, textarea, th {
	padding: 0;
}
article, aside, details, figcaption, figure, footer,
header, main, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
}
b, strong {
	font-weight: bolder;
}
img {
	border-style: none;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: inherit;
}



*, *::before, *::after {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font: 100%/1.5 sans-serif;
}
a {
	text-decoration: none;
}
blockquote, dl, figure, hr, ol, p, pre, ul {
	margin-bottom: 1.5rem;
}
ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0;
}

/*
 * ---------------------------------------------------------------
 * Grid
 * ---------------------------------------------------------------
 */

.ctl-clearfix::after,
.ctl-container::after,
.ctl-row::after {
	clear: both;
	content: "";
	display: block;
}
.ctl-container {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 0.75rem;
}
.ctl-row {
	margin: 0 -0.75rem;
}
[class^="ctl-col-"],
[class*=" ctl-col-"] {
	float: left;
	padding: 0 0.75rem;
	position: relative;
	width: 100%;
}
.ctl-col-xs-1 { width: 8.333333%; }
.ctl-col-xs-2 { width: 16.666667%; }
.ctl-col-xs-3 { width: 25%; }
.ctl-col-xs-4 { width: 33.333333%; }
.ctl-col-xs-5 { width: 41.666667%; }
.ctl-col-xs-6 { width: 50%; }
.ctl-col-xs-7 { width: 58.333333%; }
.ctl-col-xs-8 { width: 66.666667%; }
.ctl-col-xs-9 { width: 75%; }
.ctl-col-xs-10 { width: 83.333333%; }
.ctl-col-xs-11 { width: 91.666667%; }
.ctl-col-xs-12 { width: 100%; }
.ctl-pull-xs-left { float: left !important; }
.ctl-pull-xs-none { float: none !important; }
.ctl-pull-xs-right { float: right !important; }
.ctl-text-xs-center { text-align: center !important; }
.ctl-text-xs-left { text-align: left !important; }
.ctl-text-xs-right { text-align: right !important; }
@media (max-width: 543px) {
	.ctl-hidden-xs-down { display: none !important; }
}
@media (min-width: 544px) {
	.ctl-col-sm-1 { width: 8.333333%; }
	.ctl-col-sm-2 { width: 16.666667%; }
	.ctl-col-sm-3 { width: 25%; }
	.ctl-col-sm-4 { width: 33.333333%; }
	.ctl-col-sm-5 { width: 41.666667%; }
	.ctl-col-sm-6 { width: 50%; }
	.ctl-col-sm-7 { width: 58.333333%; }
	.ctl-col-sm-8 { width: 66.666667%; }
	.ctl-col-sm-9 { width: 75%; }
	.ctl-col-sm-10 { width: 83.333333%; }
	.ctl-col-sm-11 { width: 91.666667%; }
	.ctl-col-sm-12 { width: 100%; }
	.ctl-hidden-sm-up { display: none !important; }
	.ctl-pull-sm-left { float: left !important; }
	.ctl-pull-sm-none { float: none !important; }
	.ctl-pull-sm-right { float: right !important; }
	.ctl-text-sm-center { text-align: center !important; }
	.ctl-text-sm-left { text-align: left !important; }
	.ctl-text-sm-right { text-align: right !important; }
}
@media (max-width: 767px) {
	.ctl-hidden-sm-down { display: none !important; }
}
@media (min-width: 768px) {
	.ctl-col-md-1 { width: 8.333333%; }
	.ctl-col-md-2 { width: 16.666667%; }
	.ctl-col-md-3 { width: 25%; }
	.ctl-col-md-4 { width: 33.333333%; }
	.ctl-col-md-5 { width: 41.666667%; }
	.ctl-col-md-6 { width: 50%; }
	.ctl-col-md-7 { width: 58.333333%; }
	.ctl-col-md-8 { width: 66.666667%; }
	.ctl-col-md-9 { width: 75%; }
	.ctl-col-md-10 { width: 83.333333%; }
	.ctl-col-md-11 { width: 91.666667%; }
	.ctl-col-md-12 { width: 100%; }
	.ctl-hidden-md-up { display: none !important; }
	.ctl-pull-md-left { float: left !important; }
	.ctl-pull-md-none { float: none !important; }
	.ctl-pull-md-right { float: right !important; }
	.ctl-text-md-center { text-align: center !important; }
	.ctl-text-md-left { text-align: left !important; }
	.ctl-text-md-right { text-align: right !important; }
}
@media (max-width: 991px) {
	.ctl-hidden-md-down { display: none !important; }
}
@media (min-width: 992px) {
	.ctl-col-lg-1 { width: 8.333333%; }
	.ctl-col-lg-2 { width: 16.666667%; }
	.ctl-col-lg-3 { width: 25%; }
	.ctl-col-lg-4 { width: 33.333333%; }
	.ctl-col-lg-5 { width: 41.666667%; }
	.ctl-col-lg-6 { width: 50%; }
	.ctl-col-lg-7 { width: 58.333333%; }
	.ctl-col-lg-8 { width: 66.666667%; }
	.ctl-col-lg-9 { width: 75%; }
	.ctl-col-lg-10 { width: 83.333333%; }
	.ctl-col-lg-11 { width: 91.666667%; }
	.ctl-col-lg-12 { width: 100%; }
	.ctl-hidden-lg-up { display: none !important; }
	.ctl-pull-lg-left { float: left !important; }
	.ctl-pull-lg-none { float: none !important; }
	.ctl-pull-lg-right { float: right !important; }
	.ctl-text-lg-center { text-align: center !important; }
	.ctl-text-lg-left { text-align: left !important; }
	.ctl-text-lg-right { text-align: right !important; }
}
